@model Employee

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Oluşturma Sayfası</h1>
<hr />

<form method="post" asp-action="Create" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="Name">Name</label>
        <input asp-for="Name" class="form-control" placeholder="Name">
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Surname">Surname</label>
        <input asp-for="Surname" class="form-control" placeholder="Surname">
        <span asp-validation-for="Surname" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Image">Image</label>
        <input asp-for="Image" class="form-control" placeholder="Image">
        <span asp-validation-for="Image" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Salary">Salary</label>
        <input asp-for="Salary" class="form-control" placeholder="Salary">
        <span asp-validation-for="Salary" class="text-danger"></span>
    </div>


    <div class="mb-3">
        <label class="form-label">Department</label>
        <select asp-for="departmentId" class="form-control">
            <option>--Select--</option>
            @foreach (var department in ViewBag.Departments as IEnumerable<Department>)
            {
                <option value="@department.Id">@department.DepartmentName</option>
            }
        </select>
    </div>

    
    <button type="submit" class="btn btn-primary mt-1">Submit</button>
</form>
