@model IEnumerable<Department>

@{
    ViewData["Title"] = "Index";
}



<h1>Departman Sayfası</h1>
<hr />

<p class="d-flex justify-content-between">
    @if (User.IsInRole("Create"))
    {
        <a asp-controller="Department" asp-action="Create" class="btn btn-outline-success">Yeni Departman Ekle</a>
    }
    <a asp-controller="Home" asp-action="Index" class="btn btn-outline-secondary">Ana Sayfaya Dön</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                <h3>Departman Adı</h3>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DepartmentName)
                </td>
                <td>
                    @if (User.IsInRole("Update"))
                    {
                        <a asp-controller="Department" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    }

                    @if (User.IsInRole("Delete"))
                    {
                        <a asp-controller="Department" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    }
                    

                    

                </td>
            </tr>
        }
    </tbody>
</table>




